{% extends './base.html' %}
{% block titulo %}
IF CRUSH
{% endblock titulo %}
{% block conteudo %}
<br>
<div class="text-center">
    <h3 style="color:white;"><strong>Mensagens</strong></h3>
</div>
<br>
<div class="row">
    {% for m in mensagens %}

    <div class="col-sm-6 col-12">
        <div class="card">
            <h4 class="mensagem-titulo"><strong>{{ m.titulo }}</strong></h4>
            <textarea rows="6" class="caixa-mensagem" disabled>{{ m.mensagem }}</textarea>

            <div class="mensagem-titulo">
                <strong>por:</strong> {{ m.usuario.user.username }}
            </div>
        </div>
        <br>
    </div>

    {% empty %}
    <div class="center">
        <h4>Nenhuma mensagem encontrada</h4>
    </div>

    {% endfor %}
</div>

{% endblock conteudo %}